<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="SJDFS_DB" connectionString="Unicode=True;User Id=sjdfs;Password=1;Server=ORCL;Sid=ORCL;Port=1521" />
    <add name="JYJYDW_DB" connectionString="Unicode=True;User Id=JYJYDW;Password=JYJYDW;Server=ORCL;Sid=ORCL;Port=1521" />
    <add name="JSDM_DB" connectionString="Unicode=True;User Id=JSDM;Password=JSDM;Server=ORCL;Sid=ORCL;Port=1521" />
  </connectionStrings>
</configuration>
