@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}
@section Head{
    <base target="_self" />
}
@section Script{
    <script src="/Plugins/datepicker/WdatePicker.js"></script>
    <script src="/Scripts/Report/WriteReportDataName.js"></script>
}
<form id="reportNameForm" action="/Report/WriteReportDataName?auditId=@Request["auditId"]" class="form-horizontal" method="post" enctype="multipart/form-data">
    <fieldset>
        <br />
        <div class="control-group">
            <label class="control-label" for="input01">数据名称：</label>
            <div class="controls">
                <input 
                    id="txtAuditDataName"
                    name="dataName" 
                    type="text" 
                    class="input-text" 
                    style="width: 300px" 
                    form-val="empty,maxlength(500)" 
                    val-empty-msg="数据名称不能为空。" 
                    val-maxlength-msg="您最多只能输入500个字。" 
                    msg-ctrl-id="txtDataNameError" 
                    value="@Model.NAME" />
                <span class="error-block" id="txtDataNameError"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input01">数据日期：</label>
            <div class="controls">
                <input name="dataDate" class="Wdate" value="@Model.REPORT_TIME.ToString("yyyy-MM")" type="text" readonly="readonly"/>
                <span class="error-block"></span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button id="btnSubmit" type="submit" class="btn btn-primary">确定</button>
                <button id="btnCancel" type="button" class="btn btn-primary">取消</button>
            </div>
        </div>
    </fieldset>
</form>

